.body{
    position: relative;
    width: 1440px;
    height: 2522px;
    
    background: #FFFFFF;
}
.content1{
    position: absolute;
    width: 227px;
    height: 64px;
    left: 160px;
    top: 14px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;

    display: flex;
    align-items: center;
    
    color: #4C7CD9;
}
.content2{
    position: absolute;
    width: 154px;
    height: 37px;
    left: 709px;
    top: 28px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}
.content3{
    position: absolute;
    width: 153px;
    height: 37px;
    left: 920px;
    top: 28px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #4C7CD9;
}
.content4{
    position: absolute;
    width: 121px;
    height: 37px;
    left: 1145px;
    top: 28px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}
.content5{
    position: absolute;
    width: 491px;
    height: 128px;
    left: 160px;
    top: 148px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    
    color: #000000;    
}
.content6{
    position: absolute;
    width: 1120px;
    height: 251px;
    left: 160px;
    top: 276px;
    
    background: #4C7CD9;
}
.content7{
    position: absolute;
    width: 1100px;
    height: 159px;
    left: 170px;
    top: 324px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.content8{
    position: absolute;
    width: 1100px;
    height: 636px;
    left: 170px;
    top: 625px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    
    color: #000000;    
}
.content9{
    position: absolute;
    width: 541px;
    height: 64px;
    left: 160px;
    top: 1320px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;

    display: flex;
    align-items: center;
    
    color: #000000; 
}
.content10{
    position: absolute;
    width: 250px;
    height: 168px;
    left: 160px;
    top: 1426px;
    
    background: #4C7CD9;
    border-radius: 5px;
}
.content11{
    position: absolute;
    width: 250px;
    height: 168px;
    left: 450px;
    top: 1426px;
    
    background: #4C7CD9;
    border-radius: 5px;
}
.content12{
    position: absolute;
    width: 250px;
    height: 168px;
    left: 740px;
    top: 1426px;
    
    background: #4C7CD9;
    border-radius: 5px;
}
.content13{
    position: absolute;
    width: 250px;
    height: 168px;
    left: 1030px;
    top: 1426px;
    
    background: #4C7CD9;
    border-radius: 5px;
}
.content14{
    position: absolute;
    width: 250px;
    height: 168px;
    left: 160px;
    top: 1621px;
    
    background: #4C7CD9;
    border-radius: 5px;
}
.content15{
    position: absolute;
    width: 250px;
    height: 168px;
    left: 450px;
    top: 1621px;
    
    background: #4C7CD9;
    border-radius: 5px;
}
.content16{
    position: absolute;
    width: 250px;
    height: 168px;
    left: 740px;
    top: 1621px;
    
    background: #4C7CD9;
    border-radius: 5px;
}
.content17{
    position: absolute;
    height: 91.05px;
    width: 116.23px;
    left: 227px;
    top: 1434px;
    border-radius: 0px;
}
.content18{
    position: absolute;
    height: 91.05px;
    width: 116.23px;
    left: 517px;
    top: 1434px;
    border-radius: 0px;
}
.content19{
    position: absolute;
    height: 91.05px;
    width: 116.23px;
    left: 807px;
    top: 1434px;
    border-radius: 0px;
}
.content20{
    position: absolute;
    height: 91.05px;
    width: 116.23px;
    left: 1097px;
    top: 1434px;
    border-radius: 0px;
}
.content21{
    position: absolute;
    height: 91.05px;
    width: 116.23px;
    left: 227px;
    top: 1629px;
    border-radius: 0px; 
}
.content22{
    position: absolute;
    height: 91.05px;
    width: 116.23px;
    left: 517px;
    top: 1629px;
    border-radius: 0px;  
}
.content23{
    position: absolute;
    height: 91.05px;
    width: 116.23px;
    left: 807px;
    top: 1629px;
    border-radius: 0px;
}
.content24{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 160px;
    top: 1533px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;    
}
.content25{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 450px;
    top: 1533px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.content26{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 740px;
    top: 1533px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.content27{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 1030px;
    top: 1533px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;    
}
.content28{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 160px;
    top: 1728px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;    
}
.content29{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 450px;
    top: 1728px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.content30{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 740px;
    top: 1728px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.podval{
    position: absolute;
    width: 1440px;
    height: 675px;
    left: 0px;
    top: 1847px;
    
    background: #325EB4;
}
.podval1{
    position: absolute;
    width: 339px;
    height: 56px;
    left: 160px;
    top: 1904px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.podval2{
    position: absolute;
    width: 237px;
    height: 23px;
    left: 160px;
    top: 2018px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.podval3{
    position: absolute;
    width: 342px;
    height: 23px;
    left: 160px;
    top: 2067px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.podval4{
    position: absolute;
    width: 146px;
    height: 23px;
    left: 720px;
    top: 1904px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.podval5{
    position: absolute;
    width: 243px;
    height: 23px;
    left: 1037px;
    top: 1904px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF; 
}
.podval6{
    position: absolute;
    width: 241px;
    height: 23px;
    left: 1039px;
    top: 1972px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
}
.podval7{
    position: absolute;
    width: 343px;
    height: 30px;
    left: 937px;
    top: 2040px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 107.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;  
}
.podval8{
    position: absolute;
    width: 153px;
    height: 23px;
    left: 720px;
    top: 2111px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF; 
}
.podval9{
    position: absolute;
    width: 355px;
    height: 30px;
    left: 925px;
    top: 2107px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 107.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
}
.podval10{
    position: absolute;
    width: 245px;
    height: 23px;
    left: 1035px;
    top: 2182px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
}
.podval11{
    position: absolute;
    width: 138px;
    height: 23px;
    left: 1142px;
    top: 2250px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
}
.podval12{
    position: absolute;
    width: 161px;
    height: 23px;
    left: 1119px;
    top: 2318px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
}
.podval13{
    position: absolute;
    width: 121px;
    height: 23px;
    left: 720px;
    top: 2378px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF; 
}
.podval14{
    position: absolute;
    width: 149px;
    height: 23px;
    left: 1131px;
    top: 2378px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF; 
}
.podval15{
    position: absolute;
    width: 204px;
    height: 23px;
    left: 1076px;
    top: 2446px;
    
    font-family: 'Min Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 82.9%;

    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
}